apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: kca-demo-ingress
  namespace: {{ .Values.namespace }}
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
spec:
  ingressClassName: nginx
  rules:
  - host: "kca-demo.jozefcvik.com"
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: frontend
            port:
              number: 80
      - path: /data
        pathType: Prefix
        backend:
          service:
            name: backend
            port:
              number: 3000 
